
* {
  font-family: JetBrainsMono Nerd Font, FontAwesome;
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  background-color: #081425;
  color: #2d353b;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px 0px 15px 15px;
  transition-duration: .5s;

  border-bottom-width: 1px;
  border-bottom-color: #23424c;
  border-bottom-style: solid;
}

#custom-launcher,
#clock,
#clock-date,
#workspaces,
#wireplumber,
#network,
#battery,
#custom-lock,
#idle_inhibitor,
#tray{
  background-color: #0f1c35;
  color: #e9e9e9;

  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
  margin-bottom: 12px;
	border-radius: 10px;

  /* border-bottom-width: 5px;
  border-bottom-color: #161a1d;
  border-bottom-style: solid; */
}

#workspaces {
  padding: 0px;
}

#workspaces button.active {
  background-color: #7fbbb3;
  color: #2d353b;

	border-radius: 10px;

  /* margin-bottom: -5px; */
/* 
  border-bottom-width: 5px;
  border-bottom-color: #366660;
  border-bottom-style: solid; */
}

#idle_inhibitor {
  /* background-color: #a7c080;
  color: #2d353b;
  border-bottom-color: #556a35; */

  margin-left: 15px;
  padding-left: 20px;
  padding-right: 26px;
}

#custom-lock {
  /* background-color: #e67e80; */
  /* color: #2d353b; */
  /* border-bottom-color: #951c1f; */

  margin-right: 15px;
  padding-left: 20px;
  padding-right: 23px;
}
